body {
    background-color: #dddddd;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header {
    width: 100%;
}
a {
    text-decoration: none;
    color: #777777;
}
#head-container {
    height: 90px;
    background-color: #ffffff;
    position: relative;
}

#head-content {
    width:960px;
    margin: auto;
}

#name-head {
    background-color: #4aaaa5;
    color: #ffffff;
    display: inline;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    padding: 30px;
    font-size: 2em;
    font-weight: bold;
}

#links {
    position: absolute;
    bottom: 0;
    right: 20em;
}
h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}
#normal-line {
    border: none;
    margin: 0;
    height: 2px;
    background-color: #cccccc;
}
#id-container {
    background-color: #dddddd;
}
#content {
    width:960px;
    background-color: #ffffff;
    margin: auto;
    border-color: #dddddd;
}
th{
    padding: 5px;
    padding-bottom: 30px;
}
#about-me{
    font-size: 2em;
    font-weight: bold;
    color:#4aaaa5;
    padding: 30px;
}
.bio {
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    font-size:19px;
    line-height: 2em;
    color: #777777;
}
#green-line{
    height: 5px;
    color: #4aaaa5;
    background-color: #4aaaa5;
    border: none;
    margin: 0;
}
footer {
    background-color: #666666;
    color: #dddddd;
    margin: auto;
    text-align: center;
    border-top: 50px;
    padding-top: 50px;
    margin: #666666;
    padding: #666666;
    border: #666666;
}
#subutton{
    padding: 15px 30px;
    margin: 30px;
    background-color: #4aaaa5;
    text-decoration: none;
    font-size: 19px;
    color: #ffffff;
}
.flex-container{
    display: flex;
    padding: 15px 30px;
}
.flex-component{
    position: relative;
    padding: 7px;
}
#flex-img{
    height: 150px;
    width: 200px;
}
#img-label{
    position: absolute;
    bottom: 15px;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 15px;
    width: 170px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
}